:root {
  --white: #fff;
  --see-through-black: rgba(0, 0, 0, 0.55);
  --ff-header: 'Cabin', sans-serif;
  --ff-body: 'Roboto', sans-serif;
  --content-padding: 1em;
  --h1: 1.5em;
  --h1-width: 100%;
  --paragraph: 0.75em;
  --sm-paragraph: 0.65em;
}

@media screen and (min-width: 400px) {
  :root {
    --content-padding: 4em;
    --h1: 1.75em;
    --h1-width: 80%;
    --paragraph: 1em;
    --sm-paragraph: 0.75em;
  }
}

@media screen and (min-width: 600px) {
  :root {
    --content-padding: 5em;
    --h1: 2em;
    --h1-width: 75%;
    --paragraph: 1.15em;
    --sm-paragraph: 0.85em;
  }
}

h1 {
  font-family: var(--ff-header);
  margin: 0;
}

p {
  margin: 0;
  font-size: var(--paragraph);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.quoteContainer {
  padding: var(--content-padding);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--see-through-black);
  background-image: linear-gradient(
    to top right,
    rgba(255, 0, 0, 0.25),
    rgba(200, 0, 200, 0.75)
  );
  color: var(--white);
}

.quote {
  margin-bottom: 0.5em;
  text-align: left;
  font-size: var(--h1);
  line-height: 1.4;
  width: var(--h1-width);
}

.quoteAuthor {
  font-size: ;
}

.quoteAuthor:not(:last-child) {
  margin-bottom: 1em;
}

.quoteProfession {
  margin-bottom: 0;
  font-size: var(--sm-paragraph);
}

.brandButton {
  font-family: var(--ff-body);
  visibility: hidden;
  opacity: 0;
  margin-top: 1em;
  border: 0.02em solid #ccc;
  border-radius: 7px;
  color: #ccc;
  font-size: 1em;
  padding: 0.5em;
  background-color: rgba(255, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonContainer:hover > .brandButton {
  opacity: 1;
  visibility: visible;
}
