:root {
  --white: #fff;
  --off-white: #ccc;
  --theme-color: hsla(340, 71%, 47%, 0.75);
  --theme-color-alt: hsla(340, 36%, 57%, 0.25);
  --see-through-black: rgba(0, 0, 0, 0.55);
  --ff-header: 'Cabin', sans-serif;
  --ff-body: 'Roboto', sans-serif;
  --content-padding: 1em;
  --h1: 1.5em;
  --h1-width: 100%;
  --paragraph: 0.75em;
  --sm-paragraph: 0.65em;
}

@media screen and (min-width: 400px) {
  :root {
    --content-padding: 4em;
    --h1: 1.75em;
    --h1-width: 80%;
    --paragraph: 1em;
    --sm-paragraph: 0.75em;
  }
}

@media screen and (min-width: 600px) {
  :root {
    --content-padding: 5em;
    --h1: 2em;
    --h1-width: 75%;
    --paragraph: 1.15em;
    --sm-paragraph: 0.85em;
  }
}

h1 {
  font-family: var(--ff-header);
  margin: 0;
}

p {
  margin: 0;
  font-size: var(--paragraph);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.quoteContainer {
  padding: var(--content-padding);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--see-through-black);
  background-image: linear-gradient(
    to top right,
    var(--theme-color),
    var(--theme-color-alt)
  );
  color: var(--white);
}

.quote {
  margin-bottom: 0.5em;
  text-align: left;
  font-size: var(--h1);
  line-height: 1.4;
  width: var(--h1-width);
}

.quoteAuthor:not(:last-child) {
  margin-bottom: 1em;
}

.quoteProfession {
  margin-bottom: 0;
  font-size: var(--sm-paragraph);
}

.brandButton {
  margin-top: 0.25em;
  border: none;
  border-radius: 7px;
  padding: 0.5em;
  font-family: var(--ff-body);
  font-size: var(--sm-paragraph);
  color: var(--off-white);
  visibility: hidden;
  opacity: 0;
  background-color: var(--theme-color);
  cursor: pointer;
  transition: all 1s ease;
  box-shadow: 0.2em 0.2em 0.2em rgba(1, 1, 1, 0.5);
}

.brandButton:hover,
.brandButton:focus {
  box-shadow: 0.1em 0.1em 0.1em rgba(1, 1, 1, 0.5);
}

.brandButton:active {
  box-shadow: 0.05em 0.05em 0.05em rgba(1, 1, 1, 0.5);
}

.buttonContainer:hover > .brandButton {
  opacity: 1;
  visibility: visible;
}
